@charset "utf-8";
/* CSS Document */

header {
  display: flex;
  position: sticky;
  position: fixed;
  justify-content: space-around;
flex-direction: row;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;	
}

article {
	width: 100%;
}

nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* leg */
	background-color: #3D6BB4;
	
}

nav a {
	text-decoration: none;
	color: white;
	font-family: Roboto, sans-serif;
	padding: 10px;
}

nav a:hover {
	color: white;	
}

.logo {
	/* leg */
	width: auto;
	background-color: transparent;
}

.icon {
	display: none;
}