@charset "UTF-8";
/* CSS Document */

/* Browser/CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Importerer her SimpleGrid (Dallas Bass) */
@import "../simplegrid.css";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Egne styles her!!! */

body {
	font-family: helvetica, arial, sans-serif; 
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container h1 {
	text-align: center;
}

.logo, nav, article, footer {
	
	width: 100%;
	outline: 1px solid #666;
}

footer {
	background-color: blueviolet;
}

.logo {
	height: 60px;
	padding-right: 80px; /* afstand til menuen */
}
nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #3D6BB4;
    }


article {
	height: auto;
	min-height: 600px;
	padding-top: 125px;
}


#landing_page {
	background-image: url(../images/rawpixel-678089-unsplash.jpg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#landing_tekst {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 80%;
	height: auto;
	background-color: black;
	opacity: 0.8;
	border: thin black solid;
	padding: 20px;
	position: relative;
	
}

#landing_tekst h1 {
	font-size: 40px;
	padding-bottom: 20px;
}

#landing_tekst p {
	text-align: center;
}


#one {
	background-color: #DF9B67;
}

#two {
	background-color: #DF9B67;
}

#three {
	background-color: #DF9B67;
}

#four {
	background-color: #DF9B67;
}

header {
  display: flex;
  position: sticky;
  position: fixed;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;	
}

/* SimpleGrid regler */
.content {
	
	border: thin black solid;
}

/* speficik regel for forside content boksen således den får ingen baggrund og border (behøves måske ikke senere når alt andet bliver fjernet) */
.frontpage_content {
	background-color: transparent;
	border: none;
}
/* frontpage img regler */
.frontpage_img {
	display: flex;
	margin-left: auto; /* centrerer billedet lige i content-holderen */
	margin-right: auto; /* centrerer billedet lige i content-holderen */
	border-radius: 50%; /* runde hjørner */
	margin-bottom: 30px; /* rykker teksten nedenunder lidt ned fra bunden af billedet */
}

/* frontpage txt regler */
.frontpage_tekst {
	text-align: center; /* smider teksten centreret */
}


/* Lato typho */

.lato_medium {
	color: white;
	font-family: lato, sans-serif;
	font-weight: 500;
	font-style: normal; 
}

.lato_regular {
	color: white;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}