@charset "utf-8";
/* CSS Document */

/* Leg med sticky nav start her */

.nav {
	padding: 25px 0;
	background-color: red;
	position: sticky;
}


.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

/* Leg med sticky nav slut her */

container {
	display: flex;
	flex-direction: column;
	background-color: #6ec9c8;
}

.pages {
	min-height: 800px;
	height: auto;
	padding-top: 50px;
    padding-bottom: 50px;
}

.pages h1 {
	text-align: center;
}

#one {
	background-color: #ffc100;
}

#two {
	background-color: #69b224;
}

#three {
	background-color: #0465a8;
}

#four {
	background-color: #94247c;
}
