@charset "utf-8";
/* CSS Document */


body {
	margin: 0;
	padding: 0;
}
/* Leg med sticky nav start her */

/* regler for klassen (div kassen der indeholder nav) */
.nav {
  position: sticky;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}


/* Leg med sticky nav slut her */

/* Leg med selve nav start her (responsive) */

/* Flexbox navigation */
nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	/* leg */
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: hotpink;
	box-shadow: 0px 6px 10px -6px rgba(0,0,0,0.75);
}

nav a {
	text-decoration: none;
	color: white;
	font-family: Roboto, sans-serif;
	padding: 10px;
}

nav a:hover {
	color: white;
	border-bottom: 1px solid white;
}

nav a.active {
	border-bottom: 1px solid white;
}

/* Forside layout leg starter her */


/* Leg med selve nav slut her (responsive) */

container {
	display: flex;
	flex-direction: column;
	
}

.pages {
	min-height: 800px;
	height: auto;
	padding-top: 50px;
    padding-bottom: 50px;
}

.pages h1 {
	text-align: center;
}

#one {
	background-image: url(../images/web_design_background.jpg);
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
}

#two {
	background-color: #69b224;
}

#three {
	background-color: #0465a8;
}

#four {
	background-color: #94247c;
}



